 @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:wght@400;600&display=swap');
    
    
*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
 background-color:#ffffff ;
 font-family: 'Rubik', sans-serif;
 
}
nav{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: transparent;
    font-size: 12px;
   
}
input#menu-hamburguesa{
    visibility: hidden;
}
input#menu-hamburguesa ~ ul{
    position: absolute;
    width: 100%;
    right: 0;
    height:calc( 100vh - 100px );
    top:40px;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    padding: .5rem 1rem;
    display: none;
    z-index: 100;
    background-color: #ffffff;
    text-decoration: none;
   
}
input#menu-hamburguesa:checked ~ ul{
    display: flex;
}
html{
    scroll-behavior: smooth;
}

  

nav > div > img{
    width: 150px;
}

nav > ul > a > li {
  
    color: #0b0c0c;
    border-bottom: 2px solid transparent;
    transition: border-color .3s linear ; 
    padding: 3.5rem; 
    justify-content: center;
    list-style: none;
    background-color: #ffffff;
    text-decoration: none;
    
}

nav > ul > a > li:hover{
   color: #34b0BE;
  
   
}
nav > ul > a {
    text-decoration: none;
 
 }
main img{
    width: 300px;
}
header{
    max-width: 100vw;
}


section#home{
    background-color:#ffffff ;
    display: grid;
    padding: 4rem .5rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 
    
   }

.fondo-foto{
    position:relative;
    width: 250px;
    
 
}
.foto{
    position: absolute;
    bottom: 12px;
    left: 25px;
    border-radius: 10%;
    width: 10rem;
    right: calc( 50% - 250px);          
}
.fondo{
    max-width: 100%;
    height: 100%;
}
.hola{
    
    color:#ff4f6f;
    font-size: 24px; 
    font-family: semibold;
       
}
.titulo{
    color: #0b0c0c;
    font-size: 40px; 
    font-family: semibold;
    
   
}
.redes{
    width:  24px; 
    height: 24px;
    border: 1px solid #34b0BE;
    border-radius: 50%;
    padding: 3px;
    margin: .3rem;

}
.contactame{
    background-color: #ff4f6f;
    border-color: transparent;
    color: #ffffff;
   font-size: 14px;
   text-align: center;
  
    border-radius: 0 15px 15px 0;
    
}
.letter{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    padding-top: .5rem;
   
}
.enlace{
   color: transparent;
   
}


section > h2{
     color:#ff4f6f;
     font-size: 40px; 
     font-family: semibold;
     margin-top: 2rem;
}

.servicios{
    padding: 1rem;
    background-color: #ffffff;
    

}
.scroll{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: scroll;
}
.serv{
    width: 300px;
   min-width: 200px;
    padding: 1.5rem 1rem;
    text-align: center;
}
.serv > img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;

}


section#acerca{
    background-color:#ffffff ;
    display: grid;
    padding: 1.5rem .5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
   }
   
   .describe{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left:  .5rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
   }
  .puntos{
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;


  }
  
   .logo2{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-end: 4;
    width: 6rem;
    margin-top: .5rem;
    margin-left: 13rem;
    
   }
   
   .academlo{
    grid-column: 1 / -1;
    grid-row-end: 5;
    margin-left: 13.5rem;
   }
   
   .year2{
    grid-column: 1 / -1;
    margin-left: 2.5rem;
    margin-left: 13rem;
   }

   .hab{
       padding: .5rem;
   }
   .habilidades{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem; 
    gap: 2rem;
   

   }
  
   .barras{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
    margin-right: .5rem;
   
   }
   
   
 .barra1{
    height: 5px;
    width: 98vw;
    background-color: #e5e5e5;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: #34b0BE;
   
   
}

.barra1 > .avance1{
    width: 70%;
    height: 5px;
    background-color: #34b0BE;
    border-radius: 1rem;
    color: #34b0BE;
    
}
.barra2{
    height: 5px;
    width: 98vw;
    background-color: #e5e5e5;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: #34b0BE;
    
  
}

.barra2 > .avance2{
    width: 60%;
    height: 5px;
    background-color: #34b0BE;
    border-radius: 1rem;
    color: #34b0BE;
    
}
.barra3{
    height: 5px;
    width: 98vw;
    background-color: #e5e5e5;
    border-radius: 1rem;
  
    color: #34b0BE;
   

}

.barra3 > .avance3{
    width: 50%;
    height: 5px;
    background-color: #34b0BE;
    border-radius: 1rem;
    color: #34b0BE;
    
}
.porc{
   padding-left: 5rem;
}
    .portafolio{
    padding: .5rem;

}
   .imagenes-proy{
       display: grid;
       grid-template-columns: 1fr;
       grid-auto-rows: auto;
       gap: 1rem;
       

   }
   .imagenes-proy > img{
       max-width: 100%;
       object-fit: cover;
       
       }
    .contacto{
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }  
    .contacto-card{
        padding: 1rem;
        text-align: center;
    }
    .contacto-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .75rem auto;
   
    }
    footer{
        padding: 1.5rem;
        background-color: #e5e5e5;
        text-align: center;
        color: #34b0BE;
    }
    @media screen and (min-width: 600px){
        .imagenes-proy{
            grid-template-columns: 1fr 1fr ;
           
        }}
    @media screen and (min-width: 860px) {
        nav label{
              display: none;
          } 
           input#menu-hamburguesa ~ ul {
               position:static;
               background-color: transparent;
               display: flex;
               flex-direction: row;
               height: auto;
               justify-content: center ;
               list-style: none;
              
           }   
           .contacto{
               justify-content: space-evenly;
           }
           section#home{
              
               display: flex;
               
                       
              }
           
           .fondo-foto{
             
            width: 950px;
              
           }
           .foto{
               right: calc( 50% - 850px ); 
               width: 20rem; 
           }
           .saludo{
                 max-width: 50%;
                line-height: 5rem;   
                margin-right: 28rem;    

           }
           .hola{
               font-size: 46px;
               font-family: semibold;
           }
           .titulo{
               font-size: 52px;
               font-family: semibold;
           }
           .describe{
              margin-right: 5rem;
           }
           section#acerca{
               width: 100vw;  
               font-size: 16px;
           } 
           .puntos{
               margin-left: 500px;
               width: 20vw;
        }
        .logo2{
            margin-left: 40vw;
        }
        .academlo{
            margin-left: 41vw;
        }
        .year2{
            margin-left: 42vw;
        }
        .redes{
            width: 36px;
            height: 36px;
        }
           
           
       } 
    